{% extends './layout.html' %} <!--para mandar hacer los cambios necesario se crea una plantilla extra para guardar
    los la mayor parte de la estrctura de html y asi en las principales solo enfocarnos 
    en la parte principal del body-->
    {% block title%} Acerca de {% endblock%}
    {% block body %}
    <center><h1>Acerca de</h1></center>
    <center><p>
        Esta pagina nacio de una practica de un proyecto y posteriormente.<br>
        Como para la venta de ropa y articulos para la cultura geek. Nos hemos esforzado en brindar los mejores productos
        a nuestros clientes. Asi como el darles el mejor trato que se merecen.
    </p></center>
    {% endblock %}